
      <div class="powr-video-slider" id="shopify-section-video-slider-{{ section.id }}"></div>
      {% schema %}
        {
          "name": "Video Slider",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWr.io](https://www.powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit Video Slider."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://www.powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "Video Slider",
              "category": "POWr Plugins"
            }
          ]
        }
      {% endschema %}
      