{% include 'personify' %}
{% include 'personify-content' %}

<style>
a.question {
    font-size: 19px;
    font-weight: 600;
    font-family: "futura-pt-bold","futura",sans-serif;
    color: #10435e;
}
h3 {
    text-transform: uppercase;
  	margin-bottom: 1.5rem;
}
a.question:before {
    content: "";
    width: 34px;
    height: 34px;
  	background-image: url('{{ 'Goodr_Favicon_Options-05_1.png' | file_img_url: '34x34' }}');
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
    background-repeat: no-repeat;
}
.h3 {
    font-size: 1.75rem;
    font-family: "futura-pt-bold","futura",sans-serif;
    line-height: 1.1em;
    font-weight: bold !important;
    color: #10435e;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-text-stroke: unset;
}
</style>

<div class="container">
	<div class="row">
    	<div class="col-xs-12">
      		<h1 style="max-width: 900px;margin-left: auto;margin-right: auto;" class="page__title">{{ page.title }}</h1>
    	</div>
    	<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      		<div class="rte">
              	<div id="introduction">
              		<p>Oh so you like to run? That’s cool. (Not really.) Nobody cares about how many miles you did before work, but go ahead, tell us anyways, we know you’re going to. Should you run with sunglasses? Yes! Whether you’re attempting your first couch to 5K or going for FKT around the world, runners sunglasses are an <em>essential</em> add-on to your running accoutrement. While you’re out there destroying your legs, your eyeballs need protection from the sun’s harmful UV rays. Prolonged exposure to the sun is like that iconic, “this is your brain on drugs” egg in the frying pan commercial. Okay, maybe a little less extreme, but the damage certainly adds up over time, thus making it worth dealing with head on. Welcome to the wild world of adulting-- first they tell you to wear sunscreen, now sunglasses… what’s next? Thinking about sunglasses as sunscreen for your eyes is a pretty spot on analogy though. We definitely do not suggest ever applying sunscreen to your eyes. That’s just foolish.</p>
              		<p>* FYI, the acronym FKT stands for “Fastest Known Time.” It is a speed record on any given route, like the Grand Canyon Rim-to-Rim-to-Rim Crossing, or John Muir Trail. And now that you know that, you can enter the next level of runner-nerd-dom.</p>
              		<p>There are a truck load of benefits from wearing sunglasses when running… Particularly goodr sunglasses. The first being the most obvious-- these shades are so flocking cool that you’ll look and feel like a boss, no matter how bad of a sufferfest you’re in, or how ugly your face is. There is magic in these glasses.</p>
              		<p>The other, more scientific, but equally important perks to wearing sunglasses while pounding the pavement (or whatever it is you pound… gross, get your head out of the gutter) include the following:</p>
              		<p>➔   <strong>Prevention of eye damage:</strong> Now you can soak in that sweet, sweet, Vitamin D and bronze your biceps while blocking out the sun’s rays from your eyes.</p>
              		<p>➔   <strong>No more debris flying up in there, up in there:</strong> Sorry, DMX is on our running playlist (yes, we know he says, “here” and not “there”). Wearing sunglasses while running will block the bugs, dirt, sand, and rocks flinging at you from passing cars. Think about how many times your windshield has cracked, that would suck if the same rock hit ya square in the pupil.</p>
              		<p>➔   <strong>Say, “Goodbye!” to crow’s feet:</strong> Alright, well, we’re not selling DIY Botox Kits, but we might as well be. Help prevent “crow’s feet,” aka the wrinkles you get from squinting, also brought on by UV (ultraviolet) exposure by wearing sunglasses while running. We can’t help with those resting bitch face wrinkles though, you’re on your own for that.</p>
              		<p>Bottomline, having the best sunglasses for running is a game changer. Fortunately for you, goodr makes a pair for everyone and they’re only $25 or $35 depending on the frame style. Keep reading to learn more about running sunglasses than you ever thought imaginable.</p>	
              		<p>Check out this nifty table of contents we built so you can happily skip the shit you don’t care about and jump to whatever it is you’re trying to Google. Godspeed.</p>
          		</div>
              	<p><a href="#introduction" class="question">Introduction (that’s what you just read)</a></p>
				<p><a href="#running-sunglasses" class="question">What are running sunglasses?</a></p>
				<p><a href="#polarized-sunglasses" class="question">Why should I get polarized sunglasses?</a></p>
				<p><a href="#protection-sunglasses" class="question">What is UV 400 protection in sunglasses?</a></p>
				<p><a href="#lens-tints" class="question">Different lens tints explained</a></p>
				<p><a href="#low-light-sunglasses" class="question">Low-light running sunglasses</a></p>
				<p><a href="#road-sunglasses" class="question">Road running sunglasses</a></p>
				<p><a href="#trail-sunglasses" class="question">Trail running sunglasses</a></p>
				<p><a href="#color-sunglasses" class="question">Color run sunglasses</a></p>
				<p><a href="#5k-sunglasses" class="question">5K sunglasses</a></p>
				<p><a href="#10k-sunglasses" class="question">10K sunglasses</a></p>
				<p><a href="#marathon-sunglasses" class="question">Marathon sunglasses</a></p>
				<p><a href="#ultra-sunglasses" class="question">Ultra running sunglasses</a></p>
				<p><a href="#ocr-sunglasses" class="question">OCR sunglasses</a></p>
				<p><a href="#cold-sunglasses" class="question">Cold weather running sunglasses</a></p>
				<p><a href="#people-sunglasses" class="question">Running sunglasses for people with larger heads</a></p>
				<p><a href="#stylish-sunglasses" class="question">Round frame running sunglasses</a></p>
				<p><a href="#classics" class="question">Classic running sunglasses</a></p>
				<p><a href="#cat-eyes" class="question">Cat eye running sunglasses</a></p>
				<p><a href="#retro-sunglasses" class="question">Retro running sunglasses</a></p>
				<p><a href="#aviator-sunglasses" class="question">Aviator running sunglasses</a></p>
				<p><a href="#popular-pairs" class="question">The most popular pairs</a></p>
				<p><a href="#different-pairs-sunglasses" class="question">Why having different pairs of running sunglasses is worthwhile</a></p>
				<p><a href="#comes-running-sunglasses" class="question">What else can we say when it comes to running with sunglasses?</a></p>
				<p><a href="#conclusion" class="question">Conclusion</a></p>
              	<div id="running-sunglasses">
                  	<h2 class="h3">What are running sunglasses?</h2>
                  	<p>Running sunglasses are sunglasses made for running. Duh. Next question.</p>
                  	<p>Alright, we’ll give you more than a smartass answer. Sunglasses designed for running do all of the things mentioned above, but how? We’ll go on to explain polarization and UV protection in a bit, but first let’s talk about what makes these sunglasses specific to R-U-N-N-I-N-G. goodr sunglasses are all no slip, and no bounce. BOOM. It’s that simple.</p>
                  	<p>When you’re running you don’t want your glasses flopping around all over your face. It blows. Have you ever tried running with earbuds in? Or even walking with earbuds in? The cord gets tangled-- alright we get it, cords are for old people-- the bluetooth cuts out, a bad song won’t skip, the buds fall out of your ears like a pirate’s hostage jumping ship. It is annoying AF. These are the types of frustrations that make the already unpleasant act of running even more unpleasant. So! Get. It. Together! You don’t want your sunglasses to be the same nuisance as your headphones, and with the right sunglasses for runners, you’ll never have to worry about that again. goodr sunglasses have been rated the highest stay-puttedness factor you can find on the market. Yes, that might not be an actual measurement factor, but trust us when we tell you that these puppies know how to stay. You never have to worry about them sliding down the sweat on your nose, and that’s what makes them stand out as specific-for-running sunnies. Although, to be frank, who wants to deal with slippery sliding sunglasses EVER? Not at the beach, not on the overpriced vineyard tour, not on a bike, not on a hike. Shit, this just got Seussical.</p>
          		</div>
              	<div id="polarized-sunglasses">
              		<h3>Do I need polarized sunglasses for running?</h3>
                  	<p>A harsh blinding blast of sunlight. A reflection off of snow, or water, or glass, or the roof of the car driving past you while you’re hoofin’ it down a busy road. That my friends, is what we call glare. You’ve felt it. Unless, you’re a freak that exclusively runs on treadmills, or on a windowless indoor track. Depressing, but you do you. (You also might want to consider getting checked to see if you’re a vampire, just to be safe.) Glare has the power to distort colors, make details blurry, and exhausts your peepers. Many individuals that have been victims of glare will say that, “prolonged exposure (of glare) even gives them headaches and that polarized sunglasses are game changers.” Hey, they said it. Not us.</p>
                  	<p>So what are polarized sunglasses and how are they different from non-polarized sunglasses? The polarization is a filter that comes from a thin layer in the lenses, a layer that non-polarized sunglasses do not possess. When vertical light hits a horizontal surface, it creates an especially harsh glare that ranges from feeling like a fly buzzing around your head-- you know, the kind that seems like he’s trying to be your friend-- to being dangerously blinding. Quite a drastic scale. So, the polarized filter comes in and dropkicks the light that bounces off horizontally right in its metaphorical chest. (And if you’re anything like the person writing this content, you’ll also enjoy this entertaining one minute distraction, a <a href="https://youtu.be/AiNrPS9Z4fY" target="_blank" rel="nofollow">compilation of 32 spectacular dropkicks</a>.) In other words, the lenses allow vertical light through, while blocking the intense reflective glare from horizontal light. Meaning, light that bounces off of objects horizontally does not stand a chance, and therefore these lenses significantly reduce glare.</p>
                  	<p>For this reason, polarized lenses are extremely important when it comes to running in sunglasses. Gosh, especially driving. With the amount of glass and metal surfaces you’re surrounded by, the chance of getting your eyes blasted by glare is high. Not only will glare be blocked, but the lenses also boost the contrast in your vision, making details more defined. If you’re someone who likes to fish, this is why polarized sunglasses are said to be the key to spotting fish below the water’s surface.</p>
                  	<p>One complaint all polarized sunglasses companies get is the fact that polarized lenses make it difficult to see LCDs, no, not LSD. LCD, or liquid crystal displays. These are found in many digital screens, including phones and vehicle dashboards. It’s a big, “no, no,” for pilots while flying planes to wear polarized sunglasses… and we’re thankful for that rule. We need our pilots to be able to clearly read the LCDs on their instruments.</p>
                  	<p>So if you’ve learned anything in this rambling hunk o’ chunk o’ text it is this:</p>
                  	<p>Why should I get polarized running sunglasses?</p>
                  	<p>➔   To reduce eye fatigue</p>
                  	<p>➔   To improve eye comfort and visibility</p>
                  	<p>➔   To boost contrast</p>
                  	<p>➔   To reduce glare and reflections</p>
          		</div>
              	<div id="protection-sunglasses">
              		<h3>What is UV 400 protection in sunglasses?</h3>
                  	<p>First off, the number one reason to wear sunglasses while running, or not running, is to protect your eyes. Wow, we really suck if we haven’t made that abundantly clear by now. If you’re on the mission to protect your eyes, then getting sunglasses with UV protection is the place to start. UV stands for ultraviolet and it is referring to the radiation emitted from the sun. UV radiation when exposed to it long enough can not only damage your skin, but the skin of your eyelid, as well as the cornea, lens, and other parts of the eye. Cue the <em>Jaws</em> music. Specific types of cataracts, growths on the eye, and macular degeneration are all potential issues resulting from not protecting your eyes from harmful UV rays. We’re not trying to scare you into wearing goodr sunglasses, we simply want to emphasize the sheer functionality of our product. That being said, all of our sunglasses have UV 400 protection.</p>
                  	<p>goodr sunglasses block both UVA and UVB rays. UVA rays are known to cause wrinkles and cancer. They have the power to penetrate glass! UVB rays on the other hand don’t have this superpower. UVB rays are best known as the assholes that turned you into a crispy red lobster. Both UV rays are blocked through a separate layer embedded into the lenses. The use of an antireflective coating on the back of this layer cuts down the reflection from ultraviolet light, as well as visible light.</p>
                  	<p>And what if your eyes are super sensitive and polarized sunglasses with UV 400 protection is not enough? Then you might want to pick a style with wider coverage. We got you covered Boo, and don’t worry, we’ll tell you all about frame styles a little later.</p>
          		</div>
              	<div id="lens-tints">
              		<h3>Different lens tints explained:</h3>
                  	<p>The lenses of goodr sunglasses are categorized 0 through 4 based on the amount of light that passes through their lenses. This measurement is called Visible Light Transmission (VLT). Our product team performs detailed tests and maintains a massive spreadsheet (yawn) tracking all of this <em>thrilling</em> data. VLT tells you the percentage of the light reaching your eyes. It is affected by the color and thickness of the lenses, the material they're made of, and if they have certain coatings on them.</p>
                  	<p>Here are some general guidelines for choosing sunglasses based on VLT percentages:</p>
                  	<p>➔   3–8% VLT: Ideal for intensely bright, sunny conditions. (goodr category 4: lens color examples include- green reflective and blue reflective)</p>
                  	<p>[PRODUCT BLOCK: Gardening with a Kraken, Freshly Baked Man Buns, Donkey Goggles]</p>
                  	<p>➔   8%-18% VLT: Great for bright and sunny conditions (goodr category 3: lens color examples include: chrome reflective, teal reflective, black non-reflective)</p>
                  	<p>[PRODUCT BLOCK: Whiskey Shots With Satan, Lance’s Afternoon Uppers, Ninja Kick the Damn Rabbit]</p>
                  	<p>➔   18%–43% VLT: Good for all-purpose use in average light. (goodr category 2: lens color examples include: pink reflective, rose non-reflective, orange gradient)</p>
                  	<p>[PRODUCT BLOCK: Farmer Von’s Triple Pump, Electric Dinotopia Carnival, Rose Before Brose]</p>
                  	<p>➔   43%-80% VLT: Best for overcast and low-light conditions. (goodr category 1: lens color examples include- orange non-reflective)</p>
                  	<p>[We were going to put another product block here, but our two category 1 sunnies are currently in retirement. RIP Orange You Glad We Didn’t Say Banana and Gangrene Runner’s Toe. Stay tuned for future developments.]</p>
                  	<p>➔   80–100% VLT: Virtually clear lenses for very dim and night conditions. (goodr category 0: lens color examples include- yellow non-reflective, and clear lenses)</p>
                  	<p>Lens colors really come down to preference. Everyone has a favorite tint on life. They affect how much visible light reaches your eyes, how well you see other colors, and how well you see contrasts. Darker shades are a solid go-to for everyday sunny outdoor conditions. Gray and green lenses do the best at not distorting colors.</p>
                  	<p>Yellow, gold, amber, rose, and other lighter colors are stellar in moderate to low-level light conditions. Skiing, snowboarding, professional snowman-building, and other snow activities come to mind-- where the sky and surface can be super variable. This lens tint  provides excellent depth perception, enhances contrasts in tricky flat-light conditions, improves the visibility of objects, and makes your surroundings appear brighter. We breakdown which specific pairs of goodr sunglasses and lens categories are our favorites depending on what kind of running you’re doing below.</p>
          		</div>
              	<div id="mirrored-lenses">
              		<h3>What about mirrored lenses?</h3>
                  	<p>Not only do mirrored lens sunglasses look fly as hell, the mirrored lens also works to reduce glare. On the outer lens there is a reflective film, or mirror coating. When the sun hits the lens surface it gets reflected. The mirrored coating sometimes makes objects appear darker, so often, to compensate, the lens tint is lighter.</p>
                  	<p>Another bonus with mirrored lenses is that they hide your eyes. So you can check out whoever you want while you’re cruisin’ down the rec path and nobody will ever know. Muahaha. Unless you’re straight up staring, then that is plain rude... Don’t be a creeper, goodr does not support excessive creeping.</p>
          		</div>
              	<div id="low-light-sunglasses">
              		<h3>Low-light running sunglasses</h3>
                  	<p>Have you ever walked into the grocery store baked and wished it was socially acceptable to walk around wearing sunglasses? TBH, Mary Jane doesn’t have to be a factor here. Sometimes grocery stores are too bright, and sunglasses shield you from judging eyes while you load your cart with wine, frozen pizza, and ice cream. Don’t worry, we see you, and we’re right there with you. This is where low-light running shades excel.</p>
                  	<p>Low-light glasses are exceptional at dusk, dawn, and overcast days. It’s not always obvious how bright it is outside, and by popping on a pair of shades, you’re helping reduce eye fatigue in these subtle conditions. They’re fabulous for cycling too, where the speed factor increases the chances of unpleasant things getting lodged into your corneas. Ouch.</p>
                  	<p>This category 2 pair, <a href="https://goodr.com/products/opossums-opposable-thumbs" target="_blank">Opposum’s Opposable Thumbs</a>, are a fan fave.</p>
          		</div>
              	<div id="road-sunglasses">
              		<h3>Road running sunglasses</h3>
                  	<p>Road running is consistently pretty bright and exposed. Asphalt packs a glare, as does the traffic, road signs, and random other infrastructure around you. For this reason, a pair of dark mirrored sunglasses are a clever choice for pavement grinding. <a href="https://goodr.com/products/iced-by-yetis" target="_blank">Iced By Yetis</a>, with category 4 lenses, are a great option. Although they won’t cool you down as the name may imply, they might inspire you to channel your inner arctic dreams while melting down on the blacktop.</p>
          		</div>
              	<div id="trail-sunglasses">
              		<h3>Trail running sunglasses</h3>
                  	<p>When weaving in and out from forests to open meadow expanses, the light can be super variable on a single adventure. Because of this, choosing the right trail running sunglasses sometimes can feel like an impossible feat. We suggest single gradient lenses. These are permanently dark on top and lighter on the bottom. They can cut glare from the sky above but allow you to see clearly below. This is rad for trail running where you find yourself looking up to scout your line, and then diverting your gaze back down to the ground to make sure you don’t trip getting there. The pair <a href="https://goodr.com/products/dirks-inflation-station" target="_blank">Dirk’s Inflation Station</a> are ultra lightweight at only 20g and offers wider coverage.</p>
                  	<p>We also like a rose colored tint for greater contrast on technical trails. goodr’s golfing sunglasses feature Flamingo Eye™ Technology. These are sick for runner’s and golfer’s alike. <a href="https://goodr.com/products/you-say-bogey-i-say-flamingo" target="_blank">You Say Bogey, I Say Flamingo</a> have all of the HD contrast and performance without any of the self-importance. With a pair of goodr sunglasses on your face, as long as you pick your damn feet up, and don’t have significantly impaired vision, you should be able to navigate the wildest of trails without tripping. Send it!</p>
          		</div>
              	<div id="color-sunglasses">
              		<h3>Color run sunglasses</h3>
                  	<p>“The happiest 5K on the planet!” they say. If that is true, you better attend with the happiest sunglasses on the planet on your face. If you have ever participated in a color run, you know it’s all for fun. Where else can you run five kilometers while getting paint dust thrown up your nose? Heck, they even give you your own packet of paint dust to throw up your friends’ noses! Can it get any more fun? Trick question… goodr’s CEO, Carl the Flamingo, and goodr’s actual CEO, Stephen Lease, both have stated that goodr has, “an honorary doctorate in fun.” Truth. Therefore making goodr sunglasses the ideal partner in crime for a color run.</p>
                  	<p>Pick a vibrant pair to match your favorite paint color. <a href="https://goodr.com/products/total-lime-piece" target="_blank">Total Lime Piece</a>, a lime green cat eye frame with poppin’ purple lenses would be our first choice.</p>                  	<p></p>
          		</div>
              	<div id="5k-sunglasses">
              		<h3>5K sunglasses</h3>
                  	<p>5K events are short and sweet, therefore, anything goes! Wear the color and style that make you feel like you’re soaring on cotton candy clouds.</p>
          		</div>
              	<div id="10k-sunglasses">
              		<h3>10K sunglasses</h3>
                  	<p>So now that you’ve proved a 5K was manageable you’re ready to do two 5Ks in one shot. Look at you! When picking the ideal sunglasses to wear during a 10K, give some consideration to the light conditions, but know that you don’t have to obsess over the decision. Worst case scenario is that you’ll wish you went with a little darker, mirrored lens to hide the struggle in your eyes when you realize you went out too strong. We want to act cool and say, “Haha, classic rookie mistake,” but even goodr’s seasoned runners are guilty of this error. It’s freakin’ hard to take that first 5K chill when your sunglasses make you feel like such a hot shot.</p>
          		</div>
              	<div id="half-marathon-sunglasses">
              		<h3>Half Marathon sunglasses</h3>
                  	<p>Considering a half marathon is somewhere between the 10K and marathon distance, we suggest making your decision by going eeny, meeny, minymoe between the two.</p>
          		</div>
              	<div id="marathon-sunglasses">
              		<h3>Marathon sunglasses</h3>
                  	<p>Selecting shades for running a marathon takes some thought. We’re talking potentially sub-3 hours (if you’re a straight up savage), to give or take ~6 hours depending on the course, how much you drank the night before, and your desired pace. That’s a long enough time that your sunglasses could annoy the shit out of you if you don’t choose wisely. The most annoying factor would be slipping, or bouncing, which goodr has kindly ruled out for you.</p>
                  	<p>It is likely that you’ll find yourself wavering between a category 2 or category 3 pair of sunnies depending on the weather (we’re referring to goodr’s VLT [visible light transmission] category scale). Our darkest rated category 2 shades are <a href="https://goodr.com/products/electric-dinotopia-carnival" target="_blank">Electric Dinotopia Carnival</a>, coming in with an 18.8% VLT rating. A lower rated category 3 pair are <a href="https://goodr.com/products/going-to-valhalla-witness" target="_blank">Going to Valhalla... Witness!</a> These let in 15.9% of the visible light. Both pairs are really solid options for everyday regular use, and strong options when going for distance.</p>
          		</div>
              	<div id="ultra-sunglasses">
              		<h3>Ultra running sunglasses</h3>
                  	<p>When it comes to picking the *perfect* sunglasses for ultra running, pack fucking options. Not only options for eyewear, but socks, shirts, hats, underwear, food, e.v.e.r.y.t.h.i.n.g. When you’re running for 6+ hours, who knows what the hell is going to happen, this is what utilizing the drop bag locations is all about. Keeping your eyes happy on an ultra running adventure is crucial. Think about it, once your eyes get tired, you’ll want to sleep, and then it’s game over. It’s kind of like that children’s book, “if you give a mouse a cookie”... or a “moose a muffin,” depending on where you’re from... You’ll scarf down that cookie, inhale that muffin, and pass the F out.</p>
                  	<p>We recommend having your favorite, most baller pair of sunglasses, ideally a category 2 or cat 3 pair for day time running. If you’re in an extremely exposed, absurdly sunny area, goodr’s darkest lens sunglasses, like our light green lensed <a href="https://goodr.com/products/gardening-with-a-kraken" target="_blank">Gardening with a Kraken</a> will most certainly do the trick. For example, these would be our choice if you’re taking a stab at the insanely phenomenal Badwater Ultramarathon. This is a 135-mile race from 279 feet below sea level in the Badwater Basin, in California's Death Valley, ending at an elevation of 8,360 feet at Whitney Portal, the trailhead to Mount Whitney. For the dawn and dusky parts of the outing or any extra shadowy sections, it’s handy to have a low-light category 1 or 2 pair on hand too. And when you accidentally lose a pair while disoriently scarfing down Skittles at an aid station, you’ll be happy you packed all of these options.</p>
          		</div>
              	<div id="ocr-sunglasses">
              		<h3>OCR sunglasses</h3>
                  	<p>The big factor when it comes to obstacle course races is that you want your sunglasses to stay on your face and not move a millimeter. You’re doing burpees, carrying sandbags up mountains, running through fire, you’d think you’re auditioning to play a Dauntless member in the Young Adult book turned movie <em>Divergent</em>. Haven’t seen that movie? Read the book, it’s better. And if you’re too cool for YA, go home, <em>Hunger Games</em> is life.</p>
                  	<p>But seriously, if you have to adjust your sunglasses while hanging from some kind of tortuous monkey bar contraption, well, enjoy that burpee penalty. BUCK FURPEES by picking your favorite pair of goodr sunglasses and reaping all of the no slip, no bounce benefits.</p>
          		</div>
            	<div id="cold-sunglasses">
              		<h3>Cold weather running sunglasses</h3>
                  	<p>Good for you. You got your ass out and moving even though there is snow on the ground. Perhaps you live in Vermont and you are training for the Vermont City Marathon? If so, do you know our good friend Champ the Lake Monster!? Give him a hug for us. Our girl Nessy has a thing for him. So much so we named this pair of sunglasses after their fiery romance: <a href="https://goodr.com/products/nessys-midnight-orgy" target="_blank">Nessy’s Midnight Orgy</a>. But seriously, if you’re training for the Vermont City Marathon, you’re likely starting your four month training plan in early February, and maybe even earlier if you have nothing better to do. Shit’s cold. But here is the thing-- that snow and ice packs a punch, and by punch we mean GLARE. The sun reflects like daggers into your eyes, it’s beautiful and painful all at once. For this reason, when running in cold weather, wearing mirrored polarized sunglasses is a must.</p>
                  	<p>Additionally, we’re talking about the winter in New England, meaning short, short days, and long dark nights. For this reason, also being stocked up with a pair of low-light lens sunglasses is a game changer. Not only for the beginning or end of day runs, but also on overcast days. It may be gray outside, but it’s still bright. Not to mention, the weather has a mind of its own. You never know when the sun is going to decide it’s no longer bashful and re-emerge from behind those cumulonimbus clouds.</p>
                  	<p>Pro tip from a goodr employee: Don’t run with your phone in your hand in icy conditions. There is a reasonable chance that you will slip and land on your phone, smashing the screen into oblivion. If you’re lucky, Strava will keep going.</p>
          		</div>
        	    <div id="people-sunglasses">
              		<h3>Running sunglasses for people with larger heads</h3>
                  	<p>Got a large noggin’? The BFG sunglasses are what you need. BFG stands for “Big F*ckinggoodrs.” Nope, not making that up, that’s what it actually stands for. These sunglasses are designed for people with larger melons, people simply seeking move coverage, or someone looking for a trendy large frame look. All acceptable logic. They are priced at $35 and include neat little silicon pieces on the nose and by where the arms hug your ears. This gives them extra grip for going BEAST MODE. And if going “beast mode” isn’t your thing, it might be once you put these bad boyz on.</p>
          		</div>
    	        <div id="stylish-sunglasses">
              		<h3>EXTRA stylish running sunglasses</h3>
                  	<p>RUN!!! The hipsters are coming!!!!! Nope, those are just goodr’s round frame Circle G sunglasses. Now you can be a hipster and a runner at the same time. These lightweight circular shades are about as hip as they get, perfect for pickling projects, taking your harness trained cat for a walk, riding fixies, and running 8Ks (because a 5K or 10K race is too mainstream). They currently come in six colors with mirrored reflective lens options, and an über classy non-mirrored lens option, known as <a href="https://goodr.com/products/nine-dollar-pour-over" target="_blank">Nine Dollar Pour Over</a> (because what’s more hipster than an overpriced cup of Joe?)</p>
          		</div>
	            <div id="classics">
              		<h3>Classics</h3>
                  	<p>Also known as our OG sunglasses. This is a look that is never going out of style, for womens running sunglasses or mens running sunglasses. Unless aliens pay us a visit and enforce a wild futuristic technology on the world. Like Google Glass implants, which would most certainly fuck up everyone’s circadian rhythm with the whole, “no screen time before bed” concept. But is it really screen time if it is in your eyes? We digress… It would take a BIG ruffling of all the feathers to knock this look down.</p>
                  	<p>goodr’s OG sunglasses come in more colors than we can count to. We also drop limited editions frequently. These include licensed Wonder Woman sunglasses, PBR sunglasses, Halloween sunglasses, Thanksgiving sunglasses, Christmas sunglasses, Hanukkah sunglasses, Saint Patrick’s Day sunglasses… okay you get it-- holiday sunglasses, food themed sunglasses, and various other collections inspired by our highly creative employees. Get ‘em while they’re hot because they're the best sunglasses to run in ever!</p>
          		</div>
              	<div id="cat-eyes">
              		<h3>Cat eyes</h3>
                  	<p>From the runway to the err… run… way? Named, the Runway collection, goodr’s cat eye sunglasses will make you feel like a bitch. Not in a bad way, in the, “this is bitchin’!” way. Or the, “Mooove bitch, get out the way-- I’M RUNNING!” way because these are our customers favorite women's sunglasses for running. There is something powerful about this frame shape. It demands attention, it boosts confidence, it screams strength. You really have to try them on for yourself. (Which you can actually do right now with our techy virtual try on feature. Take a break from reading and check out how you look in these boss frames, <a href="https://goodr.com/collections/the-runways/products/brunch-is-the-new-black" target="_blank">Brunch is the New Black</a>.)</p>
                  	<p>Priced at $35, these sunglasses also have lightly-textured silicon grips on the nose and earpieces. Cat tongue technology. These also feature sparkly little metal detailing on the sides, giving you the appearance of high fashion even if you’re really just another dirtbag runner.</p>
          		</div>
              	<div id="retro-sunglasses">
              		<h3>Retro running sunglasses</h3>
                  	<p>The Super Fly collection was created with cyclists in mind but translates great to running. Their retro shaped lightweight frame (20g if you’re counting), provides wider coverage. They were also designed to be extra aerodynamic. Honestly, when rocking Super Flys you might even forget that you’re wearing sunglasses-- other than how extremely DAF (dope as fuck) you’ll feel while you’re wearing them.</p>
          		</div>
              	<div id="aviator-sunglasses">
              		<h3>Aviator running sunglasses</h3>
                  	<p>Our aviator running sunglasses are our newest style to the goodr quiver. We call them the Mach Gs, and they will certainly have you running at mach speeds (if you train properly). Actually, we take that back, no human has run the speed of sound, 767.269 miles per hour. Plus we have not product tested at that speed; we’d worry that you’d be running so fast that the glasses might melt onto your face. Forget that. Our Mach G aviator sunglasses are guaranteed to get you confused with a cast member from <em>Top Gun</em>. Go ask your ex to pick out your call sign because people will be asking-- and who else could provide a more honest naming ceremony?</p>
          		</div>
              	<div id="popular-pairs">
              		<h3>Are goodr sunglasses good? <span style="display: block;">Check Out Our Most Popular Pairs and let us know.</span></h3>
                  	<p>It is time to honor the most popular of the goodr running sunnies, starting with <a href="https://goodr.com/products/bosleys-basset-hound-dreams" target="_blank">Bosley’s Basset Hound Dreams</a>. Whenever the name “Bosley” is mentioned, it is only custom to shout, “LONG LIVE THE KING!” at the top of your lungs. Why? Because Bosley was the basset hound child of goodr’s founding members. He reached a ripe old age of 167 and was carted up a mountain in a vintage pram before passing. His cute little basset toes smelled of Fritos. These sunglasses are the most classic tortoiseshell shades you’ve ever seen, and for that reason they are one of goodr’stop-sellers.</p>
                  	<p>People are so predictable… of course our black on black OG sunglasses, aptly named <a href="https://goodr.com/products/a-gingers-soul" target="_blank">A Ginger’s Soul</a> are our most purchased pair of sunglasses to date. The dudes in all four <em>MIB</em> movies WISHED they had these suckers.</p>
                  	<p>We can’t conclude this section without showcasing the sunglasses that made goodr a company: <a href="https://goodr.com/products/flamingos-on-a-booze-cruise" target="_blank">Flamingos on a Booze Cruise</a>. Our best-selling pink sunglasses, designed after the lush pink feathers and shockingly teal eyes of our avian CEO, Carl the Flamingo. Once upon a time, the entire staff at goodr went on a cruise to Mexico and dressed as flamingos on a legitimate booze cruise. True story. It was glorious. The piña coladas came with candy straws and our female co-founder Keri Blunt dominated the Hairy Chest Competition on the Lido Deck. That’s what these sunglasses represent to us.</p>
          		</div>
              	<div id="different-pairs-sunglasses">
              		<h3>Why having different pairs of running sunglasses is worthwhile:</h3>
                  	<p>Having multiple pairs of affordable sunglasses is a no-brainer. If your sunglasses set you back hundreds o’ bones, it’s another story. However, $25 and $35 sunnies are priced right for you to have as many pairs as your heart desires. Why? Well, you’ll likely lose a pair, you might break a pair (thankfully our Customer Service Parrots are out of this world, and fingers crossed they’ll hook you up with replacement parts or a shiny new pair of shades if your story checks out, read more about that <a href="https://goodr.com/pages/warranty-and-care-tips" target="_blank">here</a>). Other random scenarios where it is desirable to have more than one pair of favorite sunglasses include but are not limited to: You might forget your glasses and be stoked to remember that you have an extra set hidden in your car. Your friend might forget their glasses. Your mom might forget her glasses… just think, you could be a gosh darn HERO.</p>
                  	<p>Not to mention, wearing different colors and styles is fun. In video games you get to mix up your look. We can create emoji avatars of ourselves and change our appearance. Why not do it IRL? Every goodr employee will tell you the sheer joy they have picking out which pair of goodr sunglasses vibe with their being in the moment they seek sunglasses. Pretty heady, right?</p>
          		</div>
              	<div id="comes-running-sunglasses">
              		<h3>What else can we say when it comes to runners and sunglasses?</h3>
                  	<p>Surprisingly, probably a lot, because if there is one thing that is more fun than running, it is talking about running… just ask our buddy Craig. Or don’t, because your life will vanish before your eyes while you get sucked into the vortex of him telling you every ingredient in his sandwich during mile 49. Then he’ll go on to tell you about the Clif bar he hallucinated into a burrito while sitting on the famous Dead Man’s Bench at mile 81 of the Angeles Crest 100.</p>
                  	<p>Ultimately, as much as we bitch about running, running is fun, and your gear should be too. That is what goodr as a company is all about, so get the best runners sunglasses, right here!</p>
          		</div>
              	<div id="conclusion">
              		<h4 class="h3">Conclusion</h4>
                  	<p>We’ll keep this one short and sweet for you, because let’s face it, if you made it to this point, there is a good chance you’re procrastinating from going on a run-- likely because you hate your current pair of shades. Let’s be honest. They’re probably those heinous robo-cop ones. HAHAHA. We’re laughing at you.</p>
                  	<p>Pull out your wallet and buy a pair of goodr sunglasses. Or maybe a pair for each of your favorite outfits. You know, a pair to match your running shoes, a pair to match your mood, a pair to wear when you’re running fast and want to be noticed, and a pair for when you’re trying to go incognito. That’s what we call the “goodr Starter Kit.” When you’re done stewing over which sunglasses to buy, go get that run done because we don’t want to be blamed for you falling off your meticulously thought out training schedule.</p>
                  	<p>NOW SCRAM!</p>
                  	<p></p>
          		</div>
      		</div>
    	</div>
  	</div>
</div>
<script>
jQuery(document).ready(function($) {
    $(document).on('click', 'a[href^="#"]', function(e) {
    	var id = $(this).attr('href');

    	var $id = $(id);
    	if ($id.length === 0) {
    	    return;
	    }

	    e.preventDefault();

    	var pos = $id.offset().top;

    	$('body, html').animate({scrollTop: pos}, 1500);
	});
});
</script>