<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210129070103"><style>/* PageFly Element Styles */
						.kKVZfa { min-height: 30px; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-7aad7dd2 {
		font-family: futura-pt-bold, futura, sans-serif;
		 margin-top: 5%;
		 margin-bottom: 5%;
	}
	.__pf .pf-56cf76f7 {
		text-align: center;
	}
	.__pf .pf-d9c33221 {
		margin-top: 5%;
	}
	.__pf .pf-8a63ca5c {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/carlflam0jpg-1539644529368.jpg");
		 height: 509px;
		 background-position: 50% 50%;
	}
	.__pf .pf-10d0600a {
		text-align: center;
		 font-family: futura-pt-bold, futura, sans-serif;
	}
	.__pf .pf-1cdb2a67 {
		text-align: center;
	}
	.__pf .pf-527a4019 {
		margin-left: 5%;
		 margin-right: 5%;
	}
	.__pf .pf-aeeb9a4f {
		padding-top: 0px;
	}
}
						</style><style>._8O0BMVAG ._8O0BMVAG__button {
    border: none;
    background-color: #4ec0b2;
    color: #fff;
    font-size: 13px;
    flex: 0 0 auto;
    margin-left: -1px;
    margin-top: 0;
}

button:not([disabled]):hover {
    background-color: transparent;
    border-color: #4ec0b2;
    color: #4ec0b2;
    border: solid 2px;
    margin-top: 0;
}

#mc_embed_signup h2 {
	display: none !important;
}

#mc_embed_signup label {
    text-transform: capitalize;
    font-family: "brandon-grotesque",sans-serif;
}</style><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-06d499c3"><div data-pf-type="Layout" class="pf-5405debf"><div data-container="true" class="sc-pZopv bjKdkd pf-8a63ca5c" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgba(0, 0, 0, 0.49);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d9c33221 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-56cf76f7" data-pf-type="Column"><p class="sc-oUAoT HrWqm pf-7aad7dd2" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-edee4e2e"><h1>STAY UP TO DATE</h1></span></p></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-aeeb9a4f" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-7c4b33a9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-13c3a630" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-1cdb2a67" data-pf-type="Column"><p class="sc-oUAoT HrWqm pf-10d0600a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f1a838a6"><h2>SIGN UP BELOW AND GET ALL THE BELLIGERENCE SENT RIGHT TO YOUR INBOX!&nbsp;</h2></span></p><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a417aa95"><div class="klaviyo-form-PnWHM7"></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-b9bad07b" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-527a4019 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-283c866b" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-52466c9f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"goodr-sunglasses.myshopify.com","elementData":{},"pageTitle":"Sign-Up","pageType":"page","pageId":"9606c5ef-f79f-45c0-b159-517192d17d32","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-29T15:52:49.275Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210129070103" defer></script>