<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.1.0/css/main-style.css?t=2019-04-23-15"><link rel="stylesheet" href="{{ 'pagefly.b81e236c.scss.css' | asset_url }}">
		 <style>.button, input[type=submit], input[type=button], button { 
	
	margin: 0rem 0;

}

p { 
color: white;
}

@media only screen and (max-width: 767px)
.__pf  {
    height: 0px;
}
</style> <div class="__pf" id="__pf"><div class="pf-502d284f sc-hwwEjo kIFSBP" data-pf-type="Body"><div class="pf-84aec7cd sc-lkqHmb fgSdED" data-pf-type="Layout"><div data-container="false" class="pf-a99c4433 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-dUjcNx huYsYp" style="background-color: rgba(0, 0, 0, 0.32);"></div><div class="sc-gHboQg eLpzfs"><div class="pf-e961059f pf-r pf-r-align--ct pf-r-eh sc-fYiAbW jjxHFQ" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 13px;"><div class="pf-c7ef93df sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-486dfc86 pf-r pf-r-align--cm pf-r-eh sc-fYiAbW jrSpEm" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--1 pf-c-md--4 pf-c-lg--1" style="padding: 0px;"><div class="pf-074ae2eb sc-cbkKFq bTgDOc" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--9 pf-c-sm--6 pf-c-md--4 pf-c-lg--6" style="padding: 0px;"><div class="pf-fdfaf1f5 sc-cbkKFq bTgDOc" data-pf-type="Column"><picture class="pf-5a8fee4c sc-gojNiO dUgZyO" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0084/1616/5946/t/24/assets/TEXT-HEADER-LMBPQ-3.png?3066"></picture><p class="pf-7fa111bd sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-4f082280 sc-itybZL ihLHML" data-pf-type="Text">Let us be perfectly clear: squawk!!! Whoops. That was only clear to flamingos. What we meant to say was: love is love!!! Introducing: Let Me Be Perfectly Queer, purple frames with rainbow print and light purple lenses, for all of your Pride needs!<br>
Launching May 8th!</span></p></div></div><div class="pf-c pf-c-xs--1 pf-xs--hidden pf-c-sm--1 pf-c-md--4 pf-c-lg--1" style="padding: 0px;"><div class="pf-88e9f3d3 sc-cbkKFq bTgDOc" data-pf-type="Column"></div></div></div><div class="pf-034214c8 pb-countdown__outter sc-kfGgVZ jrbKNI" data-expired="2019-05-08T12:00" data-day="true" data-translation="{&quot;day&quot;:&quot;Days&quot;,&quot;hour&quot;:&quot;Hours&quot;,&quot;min&quot;:&quot;Mins&quot;,&quot;sec&quot;:&quot;Secs&quot;}" data-pf-type="CountDown"><div class="pb-countdown__inner"><div class="pb-countdown__day"><span>00</span><label>Days</label></div><div class="pb-countdown__hours"><span>00</span><label>Hours</label></div><div class="pb-countdown__mins"><span>00</span><label>Mins</label></div><div class="pb-countdown__secs"><span>00</span><label>Secs</label></div></div></div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 13px;"><div class="pf-975156dc sc-cbkKFq bTgDOc" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 13px;"><div class="pf-0954d108 sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-9557a5f4 sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><div class="klaviyo-form-Pk7Cm9"></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","events":{},"pageflyVersion":"2.1.0"};
				</script><script src="https://cdn.pagefly.io/pagefly/2.1.0/core/helper.js?t=2019-04-23-15" defer></script><script>$( '#__pf' ).prev().prev().prev().remove();</script>